.container {
  display: flex;
  flex-direction: column;

  padding: 60px 20px;
}

.logoContainer {
  align-self: center;
}

.formContainer {
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
